header {
  @include container(

  );
  .header {
    @media (max-width: 900px) {
      background-color: $back-ground-color;
    }
    display: inline-flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    .logo {
      @include logo(

      );
      background-color: $back-ground-color;
      flex-basis: 15%;
      max-width: 150px;
    }
    .menu {
      @media (max-width: 899px) {
        display: none !important;
        width: 100% !important;
      }
      display: inline-flex;
      justify-content: space-around;
      flex-basis: 65%;
      .menu-item {
        @include menu-item(

        );
        &.active {
          font-weight: bold;
          border-bottom: 3px
            solid
            $back-ground-color;
        }
        .menu-item-href {
          @include href(

          );
          text-align: center;
        }
      }
    }
    .to-call {
      @media (max-width: 899px) {
        display: none !important;
        width: 100% !important;
      }
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-content: space-around;
      flex-basis: 20%;
      min-width: 200px;
      .to-call_number {
        font-size: 1.25rem;
        text-align: center;
      }
      .to-call_button {
        display: inline-flex;
        justify-content: center;
        align-content: center;
        .to-call_img {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 30px;
          height: 30px;
          background-color: $back-ground-color;
          border-radius: 50%;
          a {
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              width: 15px;
              height: 15px;
            }
          }
        }
        .to-call_ref {
          display: flex;
          align-items: center;
          justify-content: center;
          a {
            @include href(

            );
            @include button(

            );
            border: none;
            margin-left: 10px;
            font-weight: bold;
            text-transform: uppercase;
            border-bottom: 2px
              dotted
              black;
          }
        }
      }
    }
    .mob-menu {
      @media (min-width: 900px) {
        display: none;
      }
    }
  }
}
