.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px
    $close-width/2;
  .modal-add {
    position: relative;
    background-color: white;
    border: 3px
      solid
      $back-ground-color;
    max-width: 500px;

    #close {
      @media (max-width: 450px) {
        right: $close-width/2 -
          20px;
        height: $close-height -
          15px;
      }
      position: absolute;
      z-index: 10;
      padding: 0px;
      width: $close-width;
      height: auto;
      opacity: 1;
      top: -$close-height/2;
      right: -$close-width/2;
      margin-bottom: -$close-height/1.25;
      cursor: pointer;
    }

    form {
      @include modal-text-style(

      );
      margin: 60px;
      input {
        @include input-style(

        );
      }
      .rooms {
        margin: 15px
          0px;
        span {
          @include modal-text-style(

          );
          vertical-align: middle;
          margin-right: 30px;
          @media (max-width: 465px) {
            margin-right: 0px;
          }
        }
        display: flex;
        flex-wrap: wrap;
        .rooms_count {
          &:hover {
            background-color: $back-ground-color;
            transition: all
              0.5s;
          }
          &:focus {
            background-color: $back-ground-color;
            transition: all
              0.5s;
          }
          margin: 0px
            2.5px;
          width: 25px;
          height: 25px;
          @include button(

          );
          border: 1px
            solid
            #d2d2d2;
        }
      }
      textarea {
        @include input-style(

        );
        height: 130px;
        opacity: 0.5;
        padding-top: 15px;
        width: 100%;
        margin: 15px
          0px;

        margin-bottom: 45px;
      }
      .submit {
        @include button(

        );
        text-indent: 0px;
        height: auto;
        padding: 20px
          0px;
        margin-bottom: 0px;
        background-color: $back-ground-color;
        border-radius: 2px;
        box-shadow: 0
          2.5px
          2.5px
          #d2d2d2;
        &:hover {
          box-shadow: 0px
            10px
            10px
            #d2d2d2;
          transition: all
            0.5s;
        }
      }
    }
  }
}
