.container {
  padding: 40px
    0px;
  @include container(

  );
  max-width: $container-max-width;
  .news_block {
    @media (max-width: 1149px) {
      justify-content: space-around;
    }
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .news_block_item {
      margin: 2.5px
        0px;
      background-position: center;
      width: 380px;
      height: 270px;
      &:hide {
        display: none;
      }
      .news_block_item_wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        background-color: rgba(
          1,
          1,
          1,
          0.5
        );
        text-align: center;
        height: inherit;
        &:hover {
          background-color: inherit;
          opacity: 100%;
          transition: all
            0.75s;
        }
        div {
          padding: 5px
            40px;
          a {
            @include href(

            );
            font-size: 1.25rem;
            font-weight: 900;
            color: white;
            line-height: 1.5rem;
          }
        }
        .news_block_item_date {
          color: $back-ground-color;
          font-weight: normal;
        }
      }
    }
  }
  .news-add-button {
    display: flex;
    padding: 40px
      0px;
    button {
      cursor: pointer;
      padding: 5px;
      border-radius: 3px;
      &:hover {
        background-color: $back-ground-color;
        transition: all
          0.75s;
      }
      img {
        width: 25px;
      }
      @media (max-width: 759px) {
        padding: 10px;
        height: 50px;
      }
      @include container(

      );
      text-transform: uppercase;
      border: none;
      background: rgba(
        1,
        1,
        1,
        0
      );

      &:focus {
        outline: none;
      }
    }
  }
}
