$back-ground-color: #ffe05d;
$back-ground-color-header: #f4f4f4;
$font-family: "Akzidenz-Grotesk Pro Light";
$main-padding: 0px
  90px;
$close-width: 160px;
$close-height: 160px;
$container-max-width: 1150px;

@font-face {
  font-family: "Akzidenz-Grotesk Pro Light";
  src: url("../webfonts/AkzidenzGroteskPro-Light.eot");
  src: url("../webfonts/AkzidenzGroteskPro-Light.eot?#iefix")
      format(
        "embedded-opentype"
      ),
    url("../webfonts/AkzidenzGroteskPro-Light.woff")
      format(
        "woff"
      ),
    url("../webfonts/AkzidenzGroteskPro-Light.ttf")
      format(
        "truetype"
      );
  font-weight: normal;
  font-style: normal;
}

@mixin container(

) {
  @media (max-width: 899px) {
    padding: 10px;
  }
  margin: 0
    auto;
}

@mixin menu-item(

) {
  @media (max-width: 1058px) {
    padding: 10px;
  }
  padding: 0px
    25px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;

  cursor: pointer;
}

@mixin href(

) {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

@mixin button(

) {
  cursor: pointer;
  border: none;
  opacity: 1;
  background: rgba(
    1,
    1,
    1,
    0
  );
  &:focus {
    outline: none;
  }
}

@mixin logo(

) {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin owl-nav(

) {
  border-radius: 50%;
  outline: none;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  margin-top: -20px;
  border-radius: 100%;
  text-align: center;
  i {
    width: 50px;
    height: 50px;
    color: $back-ground-color;
    font-size: 50px;
  }
}

@mixin news-item(
  $path
) {
  background-image: $path;
  background-color: rgba
    (
      1,
      1,
      1,
      0.5
    );
}
@mixin modal-text-style(

) {
  font: 11pt
    sans-serif;
  font-weight: 900;
}
@mixin input-style(

) {
  @media (max-width: 450px) {
    min-height: auto;
  }
  text-indent: 30px;
  opacity: 0.5;
  font: 11pt
    sans-serif;
  font-weight: 900;
  width: 100%;
  margin: 15px
    0px;
  min-height: 45px;
}

* {
  margin: 0;
  padding: 0;
  font-family: $font-family;
}

@import "header";
@import "main";
@import "news";
@import "news";
@import "footer";
@import "modal";
@import "mmenu";
